/* 

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}


}
    */

@font-face {
    font-family: "Rye";
    src: url('./fonts/Rye-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Rubik Bubbles";
    src: url('./fonts/RubikBubbles-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*
    
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/5_background/home_screen.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/5_background/home_screen.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

h1 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: "Rye", Arial, Helvetica, sans-serif;
    font-size: 52px;
    color: #c6662f;
}

canvas {
    background-color: black;
}

.keyboard_mapping {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right,
            #884631,
            #93543e,
            #e09977);
}

.key {
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow {
    margin-right: 4px;
    width: 60px;
    height: auto;
}

.d_key {
    margin-right: 8px;
    font-size: 28px;
    font-family: "Rubik Bubbles", Arial, Helvetica, sans-serif;
}

.instructions {
    font-family: "Rubik Bubbles", Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
}

.canvas-wrapper {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
}

.canvas-frame {
    display: inline-block;
    border: 40px solid transparent;
    border-image: url('img/assets/wood_frame.jpg') 20 round;
    border-radius: 20px;
}

.canvas-frame canvas {
    display: block;
}

.startscreen {
    position: relative;
    height: 480px;
    width: 720px;
}

.startscreen img {
    height: 480px;
    width: 720px;
}

.start-button-center {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.start-button button {
    top: 48px;
    left: 280px;
    margin: 0;
    cursor: pointer;
    height: 56px;
    color: #a0220a;
    font-family: "Rye", Arial, Helvetica, sans-serif;
    font-size: 32px;
    background: linear-gradient(to bottom, #ffc71f 5%, #ff9600 100%);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 6px 24px;
}

.start-button button:hover {
    background: linear-gradient(to bottom, #ff9d00 5%, #ffdb00 100%);
    background-color: #ffd300;
}

.sound img {
    object-fit: cover;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.sound {
    position: absolute;
    top: 48px;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.mute {
    margin: 12px;
    display: flex;
    flex-direction: column-reverse;
}

.manual {
    position: relative;
    background-color: #679b16;
    font-size: 24px;
    width: 720px;
    height: 40px;
    text-align: center;
}

.fullscreen img {
    object-fit: cover;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.fullscreen {
    position: absolute;
    top: 8px;
    right: 12px;
}

.description {
    /* font-family: 'Rubik Bubbles'; */
    font-family: "Rye", Arial, Helvetica, sans-serif;
    ;
    color: #c6662f;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
}

.information {
    margin-left: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information:hover {
    content: url('icons/info-hover.png');
    height: auto;
}

.info-text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fde287e0;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 24px;
    padding: 64px;
}

.info-text button {
    position: absolute;
    bottom: 80px;
    height: 48px;
    outline: none;
    color: white;
    font-family: 'Rubik Bubbles';
    font-size: 24px;
    background-color: #8a4934;
    border-radius: 10px;
    border: 4px solid white;
    display: inline-block;
    cursor: pointer;
    padding: 6px 24px;
    text-decoration: none;
}

.info-text button:hover {
    background-color: #c6662f;
}

.d-none {
    display: none !important;
}

.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn button {
    margin-top: -256px;
    z-index: 2;
    cursor: pointer;
    height: 56px;
    outline: none;
    color: white;
    font-family: 'Rubik Bubbles';
    font-size: 32px;
    box-shadow: inset 0px 1px 0px 0px #ffd300;
    background: linear-gradient(to bottom, #ffdb00 5%, #ff9d00 100%);
    background-color: #ffcc01;
    border-radius: 6px;
    border: 1px solid #ff9f00;
    display: inline-block;
    cursor: pointer;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #c76758;
}

.play-btn button:hover {
    background: linear-gradient(to bottom, #ff9d00 5%, #ffdb00 100%);
    background-color: #ffd300;
}

#touchLeft {
    position: absolute;
    top: 25vh;
    left: 4px;
}

#touchRight {
    position: absolute;
    top: 25vh;
    right: 4px;
}

#touchUp {
    position: absolute;
    bottom: 4vh;
    left: 25vw;
}

#touchThrow {
    position: absolute;
    bottom: 4vh;
    left: 50vw;
}

.touchControl-responsive {
    display: none;
}

@media (max-width: 1200px) {
    body {
        position: relative;
        overflow: hidden;
    }

    .container {
        transform: rotate(90deg);
        transform-origin: bottom left;

        position: absolute;
        top: -100vw;
        left: 0;

        height: 100vw;
        width: 100vh;

        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .manual {
        display: none;
    }

    .startscreen {
        width: unset;
        height: unset;
    }

    .startscreen img {
        height: 100%;
        width: 100vh;
    }

    .description {
        position: absolute;
        top: 0;
        z-index: 3;
        background-color: unset;
        width: unset;
    }

    .start-button {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .start-button button {
        left: unset;
        right: unset;
        top: unset;
    }

    canvas {
        height: 100% !important;
        width: 100vh !important;
    }

    .play-btn {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .play-btn button {
        margin-bottom: 32px;
    }

    .sound {
        position: absolute;
        top: 12px;
        right: 8px;
    }

    .touchControl-responsive {
        display: unset;
    }

}